[mysqld]
bind-address                 = *
log-error                    = /usr/local/mysql/mysql.log.d/error.log
character-set-server         = utf8mb4
collation-server             = utf8mb4_general_ci
explicit_defaults_for_timestamp